<section>
  <div class="row">
    <div class="card">
      <div class="cover item-a">
        <h1>Кофе </h1>
      </div>
    </div>
    <div class="card">
      <div class="cover item-b">
        <h1>Чёрный чай</h1>
      </div>
    </div>
    <div class="card">
      <div class="cover item-c">
        <h1>Пуеры</h1>
      </div>
    </div>
    <div class="card">
      <div class="cover item-d">
        <h1>Всё для чая</h1>
      </div>
    </div>
    <div class="card">
      <div class="cover item-e">
        <h1>Зелёный чай</h1>
      </div>
    </div>
  </div>
</section>
